*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: rgb(247, 247, 247);
}
$width:1200px;
$fontSize:14px;
.headerstyle{
    color: #989898;
    font-size: $fontSize;
    line-height: 44px;
    display: block;
    float: left;
    text-decoration: none;
}
.footer-p{
    font-size: 18px;
    color: #333;
    padding-left: 52px;
    height: 102px;
    line-height: 102px;
    position: absolute;
    top: 0;
}
.footer-i{
    position: absolute;
    left: 0;
    top: 30px;
    width: 42px;
    height: 42px;
    background: url(../img/nav-icon.png) 0 0 no-repeat;
}
.prize-i{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    background: url(../img/nav-icon.png) 0 0 no-repeat;
    margin-bottom: 20px;
}
.prize-item{
    position: absolute;
    top: 30px;
    text-align: center;
}
/* header部分 */
#header{
    width: 100%;
    height: 44px;
    background: #323436;
    .headerBox{
        width: $width;
        height: 44px;
        margin: 0 auto;
        // background: lightcoral;
        //header左边部分
        .headerBox-left{
            float: left;
        }
        img{
            float: left;
            display: block;
        }
        .headerBox-left>a{
            @extend .headerstyle;
            padding: 0 19px;
            &:hover{
                color: #fff;
            }
        }
        //header中间部分
        .headerBox-center{
            float: left;
            &>a{
                @extend .headerstyle;
                padding: 0 19px;
                &:hover{
                    color: #fff;
                }
            }
        }
        .headerBox-login>a{
            @extend .headerstyle;
            &:hover{
                color: #fff;
            }
        }
        .headerBox-login .one{
            width: 100px;
            padding: 0 19px;
        }
        .headerBox-login .two{
            padding: 0 19px;
        }
        //header右边部分
        .order>a{
            @extend .headerstyle;
            padding: 0 19px;
            &:hover{
                color: #fff;
            }
        }
        .cart{
            position: relative;
            float: right;
            & i{
                display: block;
                width: 21px;
                height: 16px;
                position: absolute;
                left: 38px;
                top: 16px;
                background: url(http://mobile.snail.com/static/common/images/nav-icon.png) -50px 0 no-repeat;
            }
            a{
                width: 110px;
                height: 43px;
                line-height: 43px;
                border: 1px solid #232426;
                border-bottom: 0;
                display: block;
                padding-left: 68px;
                color: #989898;
                font-size: 14px;
                text-decoration: none;
                background: #232426;
                &:hover{
                    color: red;
                    text-decoration: underline;
                }
            }
        }
    }
}
/*侧边栏工具条*/
#sideBar{
    width: 45px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100%;
    background-color: #e0e0e0;
    .sideBar-forum{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 320px;
        background: url(../img/sidebar.png) -55px -152px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -228px;
        }
    }
    .sideBar-service{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 395px;
        background: url(../img/sidebar.png) -55px -304px no-repeat;
        z-index: 999;        
        &:hover{
            background-position: -55px -379px;
        }
    }
    .sideBar-share{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 470px;
        background: url(../img/sidebar.png) 0 -947px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -947px;
        }
    }
    .sideBar-idea{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 545px;
        background: url(../img/sidebar.png) -55px -456px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -532px;
        }
    }
    .sideBar-top{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        bottom: 20px;
        background: url(../img/sidebar.png) -55px -608px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -684px;
        }
    }
}
/*我的购物车*/
#car-top{
    height: 100px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    background-color: #ffffff;
    .car-top-inner{
        width: 1200px;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        font-size: 24px;
        // background: lightgreen;
        .logo{
            vertical-align: middle;
            display: inline-block;
            margin-right: 30px;
            img{
                display: block;
            }
        }
    }
}

/*购物车商品盒子*/
#carBox{
    width: 1200px;
    margin: 0 auto 50px;
    overflow: hidden;
    .carTitle{
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #333;
        font-size: 14px;
        font-family: "微软雅黑";
        background: #ffffff;
        padding: 10px 0;
        .col1{
            width: 110px;
            float: left;
        }
        .col2{
            width: 480px;
            float: left;
        }
        .col3{
            width: 100px;
            text-align: center;
            float: left;
        }
        .col4{
            width: 190px;
            text-align: center;
            float: left;
        }
        .col5{
            width: 110px;
            text-align: center;
            float: left;
        }
        .col6{
            width: 160px;
            text-align: center;
            float: left;
        }
    }
    .carInner{
        background: #fff;
        margin-top: 10px;
        width: 100%;
        .type{
            padding-left: 10px;
            font-size: 14px;
            color: #333;
            padding: 20px 50px;
            border-bottom: 1px solid #dedede;
            input{
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid #ccc;
                margin-right: 40px;
            }
            .entity{
                background: #53acff;
            }
            .icon{
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                margin: 0 5px 0 0;
                border-radius: 3px;
                color: #ffffff;
                display: inline-block;
            }
        }
    }
}

/* 底部 */
#footer{
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    .footerMain{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        /* 保证 */
        .footer-promise{
            height: 102px;
            background-color: #fff;
            position: relative;
            border-bottom: 1px solid #dedede;
            .footer-p1{
                @extend .footer-p;
                left: 20px;
                i{
                    @extend .footer-i;background-position: 0 -360px;
                }
            }
            .footer-p2{
                @extend .footer-p;
                left: 380px;
                i{
                    @extend .footer-i;background-position: -43px -360px;
                }
            }
            .footer-p3{
                @extend .footer-p;
                left: 693px;
                i{
                    @extend .footer-i;background-position: -86px -360px;
                }
            }
            .footer-p4{
                @extend .footer-p;
                left: 1025px;
                i{
                    @extend .footer-i;background-position: -129px -360px;
                }
            }
        }
        /* 列表 */
        .footer-list{
            padding: 30px 0;
            border-bottom: 1px solid #dedede;
            overflow: hidden;
            .list{
                width: 200px;
                float: left;
            }
            h4{
                color: #333;
                font-size: 16px;
                line-height: 1;
                margin-bottom: 14px;
                font-weight: normal;
            }
            .innerList li{
                margin-bottom: 10px;
            }
            .innerList li a{
                color: #666;
                font-size: 14px;
                &:hover{
                    color: #ff7f00;
                }
            }
        }
        /* 奖项 */
        .footer-prize{
            height: 203px;
            position: relative;
            // float: left;
            .prize-item{
                position: absolute;
                top: 30px;
                text-align: center;
            }
            p{
                color: #999;
                font-size: 14px;
                line-height: 1;
                margin-bottom: 10px;
            }
            .prize-item1{
                @extend .footer-prize;
                width: 100px;
                left: 0;
                i{
                    @extend .prize-i;
                    background-position: 0 -178px;
                }
            }
            .prize-item2{
                @extend .footer-prize;
                width: 90px;
                left: 138px;
                i{
                    @extend .prize-i;
                    background-position: -91px -178px;
                }
            }
            .prize-item3{
                @extend .footer-prize;
                width: 90px;
                left: 276px;
                i{
                    @extend .prize-i;
                    background-position: -182px -178px;
                }
            }
            .prize-item4{
                @extend .footer-prize;
                width: 144px;
                left: 389px;
                i{
                    @extend .prize-i;
                    background-position: -273px -178px;
                }
            }
            .prize-item5{
                @extend .footer-prize;
                width: 90px;
                left: 552px;
                i{
                    @extend .prize-i;
                    background-position: -364px -178px;
                }
            }
            .prize-item6{
                @extend .footer-prize;
                width: 125px;
                left: 673px;
                i{
                    @extend .prize-i;
                    background-position: 0 -269px;
                }
            }
            .prize-item7{
                @extend .footer-prize;
                width: 90px;
                left: 828px;
                i{
                    @extend .prize-i;
                    background-position: -91px -269px;
                }
            }
            .prize-item8{
                @extend .footer-prize;
                width: 90px;
                left: 966px;
                i{
                    @extend .prize-i;
                    background-position: -182px -269px;
                }
            }
            .prize-item9{
                @extend .footer-prize;
                width: 115px;
                left: 1088px;
                i{
                    @extend .prize-i;
                    background-position: -273px -269px;
                }
            }
        }
    }
    /* 版权 */
    .footer-copyright{
        padding: 30px 0;
        background-color: #f7f7f7;
        .footer-copyright-main{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            .copyright-p1{
                font-size: 18px;
                color: #999;
                line-height: 24px;
                margin-bottom: 9px;
            }
            .copyright-p2{
                font-size: 12px;
                color: #999;
                line-height: 1;
            }
            .copyright-a{
                width: 108px;
                height: 45px;
                display: block;
                background: url(../img/nav-icon.png) -392px 0 no-repeat;
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
    }
}