*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html,body{
    background: #f7f7f7;
}
$width:1200px;
$fontSize:14px;
.headerstyle{
    color: #989898;
    font-size: $fontSize;
    line-height: 44px;
    display: block;
    float: left;
    text-decoration: none;
}
.footer-p{
    font-size: 18px;
    color: #333;
    padding-left: 52px;
    height: 102px;
    line-height: 102px;
    position: absolute;
    top: 0;
}
.footer-i{
    position: absolute;
    left: 0;
    top: 30px;
    width: 42px;
    height: 42px;
    background: url(../img/nav-icon.png) 0 0 no-repeat;
}
.prize-i{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    background: url(../img/nav-icon.png) 0 0 no-repeat;
    margin-bottom: 20px;
}
.prize-item{
    position: absolute;
    top: 30px;
    text-align: center;
}
@mixin borderTop($h,$style,$color){
    border-top: $h $style $color;
}
/* header部分 */
#header{
    width: 100%;
    height: 44px;
    background: #323436;
    // z-index: 100;
    .headerBox{
        width: $width;
        height: 44px;
        margin: 0 auto;
        // background: lightcoral;
        //header左边部分
        .headerBox-left{
            float: left;
        }
        img{
            float: left;
            display: block;
        }
        .headerBox-left>a{
            @extend .headerstyle;
            padding: 0 19px;
            &:hover{
                color: #fff;
            }
        }
        //header中间部分
        .headerBox-center{
            float: left;
            &>a{
                @extend .headerstyle;
                padding: 0 19px;
                &:hover{
                    color: #fff;
                }
            }
        }
        .headerBox-login>a{
            @extend .headerstyle;
            &:hover{
                color: #fff;
            }
        }
        .headerBox-login .one{
            width: 100px;
            padding: 0 19px;
        }
        .headerBox-login .two{
            padding: 0 19px;
        }
        //header右边部分
        .order>a{
            @extend .headerstyle;
            padding: 0 19px;
            &:hover{
                color: #fff;
            }
        }
        .cart{
            position: relative;
            float: right;
            & i{
                display: block;
                width: 21px;
                height: 16px;
                position: absolute;
                left: 38px;
                top: 16px;
                background: url(http://mobile.snail.com/static/common/images/nav-icon.png) -50px 0 no-repeat;
            }
            a{
                width: 110px;
                height: 43px;
                line-height: 43px;
                border: 1px solid #232426;
                border-bottom: 0;
                display: block;
                padding-left: 68px;
                color: #989898;
                font-size: 14px;
                text-decoration: none;
                background: #232426;
            }
            span{
                color: #fa0;
            }
        }
    }
}
/*侧边栏工具条*/
#sideBar{
    width: 45px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100%;
    background-color: #e0e0e0;
    z-index: 999;
    .sideBar-forum{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 320px;
        background: url(../img/sidebar.png) -55px -152px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -228px;
        }
    }
    .sideBar-service{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 395px;
        background: url(../img/sidebar.png) -55px -304px no-repeat;
        z-index: 999;        
        &:hover{
            background-position: -55px -379px;
        }
    }
    .sideBar-share{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 470px;
        background: url(../img/sidebar.png) 0 -947px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -947px;
        }
    }
    .sideBar-idea{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        top: 545px;
        background: url(../img/sidebar.png) -55px -456px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -532px;
        }
    }
    .sideBar-top{
        width: 45px;
        height: 75px;
        position: absolute;
        cursor: pointer;
        left: 0;
        bottom: 20px;
        background: url(../img/sidebar.png) -55px -608px no-repeat;
        z-index: 999;
        &:hover{
            background-position: -55px -684px;
        }
    }
}
/* top-nav部分 */
#top-nav{
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 100;
    background: #fff;
    .top-navBox{
        width: $width;
        height: 100px;
        margin: 0 auto;
        position: relative;
        .logo{
            position: absolute;
            left: 0;
            top: 17px;
        }
        .showNav{
            float: right;
            // z-index: 100;
            li{
                list-style: none;
                float: left;
                float: left;
                height: 100px;
                line-height: 100px;
                padding: 0 25px;
                a{
                    color: #333;
                    font-size: 18px;
                    &:hover{
                        color: #ff7f00;
                    }
                }
            }
        } 
    }
    .hideNav{
        width: 100%;
        height: 190px;
        background: lightgreen;
        position: absolute;
        top:-190px;
        display: none;
        // z-index: 100;
    }
}

/* 轮播图部分 */
.munuActive{
    background-color: #fff;
    border: 1px solid #ff9500;
    border-right: none;
    span{
        color: #333;
    }
}
#bannerBox{
    width:$width;
    height: 430px;
    margin: 0 auto;
    background: lightsalmon;
    .banner-menu{
        width: 230px;
        height: 430px;
        float: left;
        background: #323436;
        position: relative;
        li{
            height: 46px;
            width: 134px;
            line-height: 46px;
            padding: 0 40px 0 55px;
            position: relative;
            .menulogo{
                width: 19px;
                height: 16px;
                // background: lightsalmon;
                position: absolute;
                left: 30px;
                top: 18px;
            }
            .gnsjk{
                background: url(../img/nav-icon.png) 0 0 no-repeat;
            }
            .mklh{
                background: url(../img/nav-icon.png) 0 0 no-repeat;
            }
            .gjsjk{
                background: url(../img/nav-icon.png) 0 -17px no-repeat;
            }
            .znyj{
                background: url(../img/nav-icon.png) 0 -33px no-repeat;
            }
            .yxdj{
                background: url(../img/nav-icon.png) 0 -67px no-repeat;
            }
            .zb{
                background: url(../img/nav-icon.png) 0 -84px no-repeat;
            }
            .hfcz{
                background: url(../img/nav-icon.png) 0 -101px no-repeat;
            }
            .ywcx{
                background: url(../img/nav-icon.png) 0 -118px no-repeat;
            }
            .ywbl{
                background: url(../img/nav-icon.png) 0 -135px no-repeat;
            }
            a{
                color: #fff;
                display: inline-block;
                width: 135px;
                font-size: 16px;
                margin-top: 2px;
                height: 46px;
                line-height: 46px;
            }
        }
    }
    .second-menu{
        width: 300px;
        height: 428px;
        position: absolute;
        left: 230px;
        top: 0;
        background: #fff;
        display: none;
        z-index: 999;
        border: 1px solid #ff9500;
        border-left: none;
    }
    .banner{
        height: 430px;
        width: 1200 - 230px;
        float: right;
        overflow: hidden;
        position: relative;
        ul {
            /* 保证轮播图移动 */
            position: absolute;
            left: 0px;
            top: 0px;
            li{
                float: left;
                img{
                    height: 430px;
                    width: 1200 - 230px;
                    display: block;
                }
            }
        }
        .leftBtn{
            width: 46px;
            height: 70px;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -35px;
            background: url(../img/sprite.png) 0 -279px;
            &:hover{
                background: url(../img/sprite.png) 0 -379px;
            }
        }
        .rightBtn{
            width: 46px;
            height: 70px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -35px;
            background: url(../img/sprite.png) 0 -479px;
            &:hover{
                background: url(../img/sprite.png) 0 -579px;
            }
        }
        ol{
            position: absolute;
            top: 388px;
            width: 100%;
            text-align: center;
            .olActive{
                background-position: 0 -83px;
            }
            li{
                cursor: pointer;
                display: inline-block;
                margin: 0 8px;
                width: 12px;
                height: 12px;
                background: url(../img/sprite.png) 0 -41px;
                &:hover{
                    background: url(../img/sprite.png) 0 -83px;
                }
            }
        }

    }
}
/*人气单品部分*/
#module-rqdp{
    height: 234px;
    width: $width;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    background: #fff;
    // background: lightsteelblue;
    .module-rqdp-product{
        width: 260px;
        float: left;
        font-size: 16px;
        text-align: center;
        display: block;
        img{
            display: block;
            width: 164px;
            height: 164px;
            padding-left: 50px;
        }
        .module-rqdp-product-name{
            color: #333;
            text-align: center;
            padding-top: 10px;
            &:hover{
                color: #f86a00;
            }
        }
        .module-rqdp-product-price{
            color: #f86a00;
            text-align: center;
        }
    }
    .module-rqdp-right{
        position: absolute;
        top: 0;
        right: 0;
        span{
            color: #fff;
            font-size: 26px;
            position: absolute;
            line-height: 1.4;
            left: 30px;
            top: 20px;
        }
    }
}

/*游戏道具部分*/
#module-yxdj{
    width: $width;
    margin: 30px auto 0;
    // background: lightcoral;
    .module-yxdj-title {
        margin-bottom: 20px;
        h1{
            color: #303030;
            font-size: 20px;
            font-weight: normal; 
        }
    }
    .module-yxdj-selectBar{
        border: 1px solid #e0e0e0;
        height: 58px;
        width: $width;
        // background: lightgreen;
        position: relative;
        .module-yxdj-selectBar-wrap{
            width: 1040px;
            height: 61px;
            overflow: hidden;
            position: relative;
            .moudule-yxdj-active{
                border-bottom: 2px solid orange;
            }
            li{
                float: left;
                width: 208px;
                text-align: center;
                a{
                    display: block;
                    text-align: center;
                    height: 58px;
                    line-height: 58px;
                    img{
                        width: 40px;
                        display: inline-block;
                        margin-right: 15px;
                        margin-top: 3px;
                    }
                }
                span{
                    font-size: 16px;
                    color: #333;
                    vertical-align: top;
                }
            }
        }
    } 
    .module-yxdj-products{
        margin-top: 16px;
        position: relative;
        overflow: hidden;
        .no-border{
            width: 227px;
            height: 360px;
            float: left;
            margin-right: 16px;
        }
        .module-yxdj-product{
            width: 225px;
            height: 358px;
            float: left;
            border: 1px solid #fff;
            margin-right: 16px;
            background: #fff;
            &:hover{
                border: 1px solid orange;
            }
            // background: lightpink;
            .module-yxdj-product-name{
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 10px;
                margin-left: 30px;
                line-height: 1;
            }
            .module-yxdj-product-price{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 80px;
                line-height: 1;
            }
            img{
                display: block;
                width: 190px;
                height: 190px;
                margin: 0 auto;
                overflow: hidden;
            }
            .module-yxdj-productRight-price{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                line-height: 1;
            }
            .module-yxdj-productRight-img{
                display: block;
                width: 145px;
                height: 145px;
                margin: 0 auto;
                overflow: hidden;
            }
        }
        .module-yxdj-productRight{
            margin-right: 0;
            height: 222px;
            float: right;
            // background: blueviolet;
        }
        .more{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 226px;
            height: 118px;
            border: 1px solid #fff;
            &:hover{
                border: 1px solid orange;
            }
            // background: brown;
            .look-more{
                color: #333;
                font-size: 22px;
                position: absolute;
                top: 38px;
                left: 40px;
            }
            .store{
                color: #666;
                font-size: 14px;
                width: 167px;
                text-align: center;
                left: 0;
                top: 70px;
                position: absolute;
            }
            .moreBtn{
                background: url(../img/sprite.png) 0 -202px;
                width: 47px;
                height: 47px;
                position: absolute;
                right: 40px;
                top: 37px;
            }
        }
    } 
}
/* 蜗牛手机卡部分 */
#module-SIMcard{
    width: $width;
    margin: 30px auto 0;
    padding-bottom: 40px;
    // background: gold;
    .module-SIMcard-title{
        margin-bottom: 20px;
        h1{
            color: #303030;
            font-size: 20px;
            font-weight: normal; 
            // float: left;
        }
        .more{
            float: right;
            font-size: 14px;
            color: #999;
            padding-right: 29px;
            position: relative;
            line-height: 30px;
            &:hover{
                color: orange;
            }
            span{
                background-image: url(../img/sprite.png);
                background-position: 0 0;
                width: 19px;
                height: 11px;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }
    .module-SIMcard-products{
        margin-top: 16px;
        position: relative;
        overflow: hidden;
        .module-SIMcard-product{
            float: left;
            margin-right: 16px;
            width: 225px;
            height: 358px;
            border: 1px solid #fff;
            background: #fff;
            &:hover{
                border: 1px solid orange;
            }
            .module-SIMcard-render-title{
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .module-SIMcard-render-describe{
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .module-SIMcard-render-price{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 60px;
                line-height: 1;
            }
            img{
                width: 197px;
                height: 190px;
                padding-left: 15px;
            }
        }
        .no-border{
            float: left;
            margin-right: 16px;
            width: 227px;
            height: 360px;
        }
        .module-SIMcard-product:last-child{
            float: right;
            margin-right: 0;
        }
    }
}
/* 蜗牛国际手机卡部分 */
#module-INTcard{
    width: $width;
    margin: 30px auto 0;
    padding-bottom: 40px;
    // background: gold;
    .module-INTcard-title{
        margin-bottom: 20px;
        h1{
            color: #303030;
            font-size: 20px;
            font-weight: normal; 
            // float: left;
        }
        .more{
            float: right;
            font-size: 14px;
            color: #999;
            padding-right: 29px;
            position: relative;
            line-height: 30px;
            &:hover{
                color: orange;
            }
            span{
                background-image: url(../img/sprite.png);
                background-position: 0 0;
                width: 19px;
                height: 11px;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }
    .module-INTcard-products{
        margin-top: 16px;
        position: relative;
        overflow: hidden;
        .module-INTcard-product{
            float: left;
            margin-right: 16px;
            width: 225px;
            height: 358px;
            border: 1px solid #fff;
            background: #fff;
        }
        .no-border{
            float: left;
            margin-right: 16px;
            width: 227px;
            height: 360px;
        }
        .module-INTcard-render{
            .module-INTcard-render-title{
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-top: 30px;
                margin-bottom: 8px;
                margin-left: 30px;
                line-height: 1;
            }
            .module-INTcard-render-describe{
                font-size: 14px;
                color: #999;
                line-height: 1;
                margin-bottom: 8px;
                text-align: left;
                margin-left: 30px;
            }
            .module-INTcard-render-price{
                font-size: 14px;
                color: #f86a00;
                text-align: left;
                margin-left: 30px;
                margin-bottom: 60px;
                line-height: 1;
            }
            img{
                width: 197px;
                height: 190px;
                padding-left: 15px;
            }
            .module-INTcard-product:last-child{
                float: right;
                margin-right: 0;
            }
        }
    }
}
/* 应用部分 */
#module-use{
    width: $width;
    margin: 0 auto;
    padding-bottom: 40px;
    height: 500px;
    background: lightblue;
    .module-use-title{
        margin-bottom: 20px;
        h1{
            font-size: 20px;
            color: #303030;
            font-weight: normal;
        }
    }
    .module-use-products{
        margin-top: 16px;
        position: relative;
        .module-use-product{
            width: 280px;
            height: 420px;
            float: left;
            margin-right: 26px;
            background: #fff;
            text-align: center;
        }
        .module-use-productRight{
            width: 280px;
            height: 420px;
            float: right;
            background: #fff;
            text-align: center;
        }
        .use-goods{
            @include borderTop(1px,solid, #daae63)
        }
        .use-game{
            @include borderTop(1px,solid, #8fb578)
        }
        .use-VR{
            @include borderTop(1px,solid, #aa5251)
        }
        .use-community{
            @include borderTop(1px,solid, #4e8bba)
        }
    }
}
/* 底部 */
#footer{
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    .footerMain{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        /* 保证 */
        .footer-promise{
            height: 102px;
            background-color: #fff;
            position: relative;
            border-bottom: 1px solid #dedede;
            .footer-p1{
                @extend .footer-p;
                left: 20px;
                i{
                    @extend .footer-i;background-position: 0 -360px;
                }
            }
            .footer-p2{
                @extend .footer-p;
                left: 380px;
                i{
                    @extend .footer-i;background-position: -43px -360px;
                }
            }
            .footer-p3{
                @extend .footer-p;
                left: 693px;
                i{
                    @extend .footer-i;background-position: -86px -360px;
                }
            }
            .footer-p4{
                @extend .footer-p;
                left: 1025px;
                i{
                    @extend .footer-i;background-position: -129px -360px;
                }
            }
        }
        /* 列表 */
        .footer-list{
            padding: 30px 0;
            border-bottom: 1px solid #dedede;
            overflow: hidden;
            .list{
                width: 200px;
                float: left;
            }
            h4{
                color: #333;
                font-size: 16px;
                line-height: 1;
                margin-bottom: 14px;
                font-weight: normal;
            }
            .innerList li{
                margin-bottom: 10px;
            }
            .innerList li a{
                color: #666;
                font-size: 14px;
                &:hover{
                    color: #ff7f00;
                }
            }
        }
        /* 奖项 */
        .footer-prize{
            height: 203px;
            position: relative;
            // float: left;
            .prize-item{
                position: absolute;
                top: 30px;
                text-align: center;
            }
            p{
                color: #999;
                font-size: 14px;
                line-height: 1;
                margin-bottom: 10px;
            }
            .prize-item1{
                @extend .footer-prize;
                width: 100px;
                left: 0;
                i{
                    @extend .prize-i;
                    background-position: 0 -178px;
                }
            }
            .prize-item2{
                @extend .footer-prize;
                width: 90px;
                left: 138px;
                i{
                    @extend .prize-i;
                    background-position: -91px -178px;
                }
            }
            .prize-item3{
                @extend .footer-prize;
                width: 90px;
                left: 276px;
                i{
                    @extend .prize-i;
                    background-position: -182px -178px;
                }
            }
            .prize-item4{
                @extend .footer-prize;
                width: 144px;
                left: 389px;
                i{
                    @extend .prize-i;
                    background-position: -273px -178px;
                }
            }
            .prize-item5{
                @extend .footer-prize;
                width: 90px;
                left: 552px;
                i{
                    @extend .prize-i;
                    background-position: -364px -178px;
                }
            }
            .prize-item6{
                @extend .footer-prize;
                width: 125px;
                left: 673px;
                i{
                    @extend .prize-i;
                    background-position: 0 -269px;
                }
            }
            .prize-item7{
                @extend .footer-prize;
                width: 90px;
                left: 828px;
                i{
                    @extend .prize-i;
                    background-position: -91px -269px;
                }
            }
            .prize-item8{
                @extend .footer-prize;
                width: 90px;
                left: 966px;
                i{
                    @extend .prize-i;
                    background-position: -182px -269px;
                }
            }
            .prize-item9{
                @extend .footer-prize;
                width: 115px;
                left: 1088px;
                i{
                    @extend .prize-i;
                    background-position: -273px -269px;
                }
            }
        }
    }
    /* 版权 */
    .footer-copyright{
        padding: 30px 0;
        background-color: #f7f7f7;
        .footer-copyright-main{
            width: 1200px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            .copyright-p1{
                font-size: 18px;
                color: #999;
                line-height: 24px;
                margin-bottom: 9px;
            }
            .copyright-p2{
                font-size: 12px;
                color: #999;
                line-height: 1;
            }
            .copyright-a{
                width: 108px;
                height: 45px;
                display: block;
                background: url(../img/nav-icon.png) -392px 0 no-repeat;
                position: absolute;
                right: 20px;
                top: 0;
            }
        }
    }
}