*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
$width:1200px;
$fontSize:14px;
html{
    background: rgba($color: #000000, $alpha: 0.5);
}
/*logo部分*/
#main {
    width: 1000px;
    margin: 0 auto;
    /* background: lightcyan; */
    .logo{
        margin: 24px 0 99px 0;
        height: 51px;
        /* background: lightcoral; */
        a{
            display: inline-block;
            float: left;
            text-decoration: none;
        }
        img{
            display: block;
        }
        span{
            display: inline-block;
            height: 51px;
            color: #231815;
            font-size: 20px;
            line-height: 70px;
            padding-left: 20px;
        }
    }
}
#login{
    width: 704px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -352px;
    margin-top: -200px;
    font-family: "微软雅黑";
    z-index: 99999;
    background: #fff;
    border: 8px solid rgba($color: #000000, $alpha: 0.7);
    .login-left{
        float: left;
        margin-left: 20px;
        width: 280px;
        margin-top: 48px;
        // background: lightcoral;
        .login-left-p1{
            font-size: 16px;
            color: #333333;
            text-align: center;
        }
        .QRcode{
            margin: 38px auto 18px;
            width: 132px;
            // font-size: 0;
            position: relative;
        }
        .login-left-p2{
            color: #666;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .login-left-p3{
            font-size: 14px;
            color: #999;
            margin-top: 56px;
            a{
                color:orange;
            }
        }
    }
    .login-right{
        float: right;
        width: 315px;
        margin-top: 48px;
        margin-right: 20px;
        position: relative;
        .close{
            background: url(https://passport.baidu.com/passApi/img/pass_login_icons.png) -72px -49px;
            width: 15px;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 10px;
            z-index: 99999;
        }
        .login-right-p1{
            font-size: 17px;
            color: #333333;
            text-align: left;
            margin-bottom: 29px;
        }
        input{
            width: 260px;
            height: 44px;
            border: 1px solid #dadada;
            margin-bottom: 20px;
            position: relative;
            outline:none;
            &:focus{
                border: 1px solid orange;
            }
        }
        .loginBtn{
            text-decoration: none;
            display: block;
            color: #fff;
            font-size: 20px;
            background: #ff7f00;
            margin: 20px 0 21px 0;
            width: 262px;
            height: 44px;
            line-height: 44px;
            text-align: center;
        }
        .login-right-help{
            font-size: 14px;
            position: absolute;
            right: 0;
            bottom: -65px;
            span{
                color: #e4e4e4;
            }
            a{
                color: orange;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}